/* App.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #1f2a40; /* dark grayish blue */
  color: #f0f0f0; /* light text for contrast */
}

input,
textarea,
button {
  font-size: 1rem;
  margin: 0.25rem 0;
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
}

input::placeholder,
textarea::placeholder {
  color: #bebebe;
}

input,
textarea {
  width: 100%;
  background-color: #415275;
  color: #f0f0f0;
}

button {
  background-color: #3a8bd8;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #2f73b6;
}

input[type="checkbox"] {
  width: 20px;  /* default size is usually ~16px, adjust if needed */
  height: 20px;
}

.course-card {
  border: 1px solid #3a4c6e;
  background-color: #2a3b55;
  padding: 1rem;
  border-radius: 8px;
}

.task-item {
  border: 1px solid #3a4c6e;
  background-color: #334766;
  padding: 0.5rem;
  border-radius: 6px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.new-task-input form {
  display: flex;
  align-items: center;
  width: 100%;
}

.new-task-input input {
  flex-grow: 1;
  min-width: 150px;
  max-width: 300px;
  padding: 0.5rem;
  font-size: 1rem;
  height: 2rem;
  box-sizing: border-box;
  margin-top: 1rem;
}

.new-task-input form button {
  height: 2rem; 
  padding: 0 1rem;
  font-size: 1.25rem;
  line-height: 1;
  cursor: pointer;
  box-sizing: border-box;
  vertical-align: middle;
  margin-top: 1rem;
}

